name: remote ssh command
on: 
  push:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
 
    - 
      name: Checkout
      uses: actions/checkout@v3
  
   
    -
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    -
      name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USER }}/todo:latest   
 
    - 
      name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSHKEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd todo
          git pull origin main 
          docker stop todo
          docker rm todo
          docker rmi ${{ secrets.DOCKER_USER }}/todo
          docker pull ${{ secrets.DOCKER_USER }}/todo-
          docker run -d -p 80:3030 -e SERVER_PORT=${{ secrets.SERVER_PORT }} -e MYSQL_USER=${{ secrets.MYSQL_USERNAME}} -e MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }} -e MYSQL_HOST=${{ secrets.MYSQL_HOST }} -e MYSQL_PORT=${{ secrets.MYSQL_PORT }} -e MYSQL_DBNAME=${{ secrets.MYSQL_DBNAME }} --name todo ${{ secrets.DOCKER_USER }}/todo:latest
          
